# Rider specific files
.idea/
*.sln.iml

# Visual Studio files
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Others (common .NET ignored files)
*.nupkg
*.snupkg
node_modules/
*.dbmdl
*.mdf
*.ldf
*.ndf
